<!-- Navigation -->
<nav class="navbar sticky-top navbar-expand-lg mb-5" data-bs-theme="dark" style="background-color: #4F28E1;">
  <div class="container">
    <a class="navbar-brand" href="{{ site.baseurl }}/">
<img src="{{ site.baseurl }}/assets/images/logo3.jpg" alt="Bootstrap" width="100" height="100">
    </a>
    <button
      class="navbar-toggler ml-auto"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto">
        {% for item in site.data.menu %}
        <li class="nav-item px-2">
          <a class="nav-link{% if item.link == page.url %} active {% endif %}" href="{{ site.baseurl }}{{ item.link }}">{{item.title}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>

<!-- style="background-color: #4F28E1;"-->